<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoke test suite" verbose="1">
    <listeners>
        <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" />
        <listener class-name="com.github.utils.ScreenshotExecutor" />
    </listeners>
    <test name="Update profile settings">
        <classes>
            <class name="com.github.testcases.runners.SmokeTestRunner"/>
        </classes>
    </test>

</suite>